In [60]:
import pandas as pd
dfg = pd.read_csv ('mike_courses.csv')
print(dfg)

                                  Course          City           State  \
0                            Otter Creek      Columbus         Indiana
1                         Sterling Farms      Stamford     Connecticut
2                              Oak Hills       Norwalk     Connecticut
3                             Centennial        Carmel        New York
4                            Great River       Milford     Connecticut
..                                   ...           ...             ...
136  The Legends Golf Resort: Heathlands  Mrytle Beach  South Carolina
137            Grand Dunes Resort Course  Mrytle Beach  South Carolina
138                Beachwood Golf Course  Mrytle Beach  South Carolina
139             Apple Greens Golf Course      Highland        New York
140                   Mohonk Golf Course     New Paltz        New York

    Country  Year
0        US   NaN
1        US   NaN
2        US   NaN
3        US   NaN
4        US   NaN
..      ...   ...
136      US   NaN
137      US   NaN
138      US   NaN
139      US   NaN
140      US   NaN

[141 rows x 5 columns]

In [61]:
import sqlite3
cnx = sqlite3.connect('garmin.db')

df_db = pd.read_sql_query("SELECT * FROM courses", cnx)
print(df_db.head())

   id                   g_course               g_address          g_city  \
0   1                  BAD MATCH                 XXXXXXX         XXXXXXX
1   2       Big Spring Lake Golf     860 Country Club Rd     Albertville
2   3   Willow Brook Golf Course              134 Par Dr     Albertville
3   4  Willow Point Country Club    2544 Willow Point Rd  Alexander City
4   5    Aliceville Country Club          285 Fairway Ln      Aliceville

   g_state g_country  g_latitude  g_longitude
0       XX        XX   30.000000   -50.000000
1  Alabama        US   34.297449   -86.199218
2  Alabama        US   34.352559   -86.119746
3  Alabama        US   32.786363   -85.976556
4  Alabama        US   33.303987   -88.058330

In [ ]:
import fuzzymatcher
cnx = sqlite3.connect('garmin.db')

df_all_courses = pd.read_sql_query("SELECT * FROM courses", cnx)

df_george_raw = pd.read_csv ('george_courses.csv')

df_mike_raw = pd.read_csv ('mike_courses.csv')


g_left = ["Course", "City", "State", "Country"]
db_right = ["g_course", "g_city", "g_state", "g_country"]
fuzzy_match_george = fuzzymatcher.fuzzy_left_join(df_george_raw, df_all_courses, g_left, db_right)
fuzzy_match_george.to_csv("george_fuzzy.csv")
fuzzy_match_george

In [59]:
lt = fuzzymatcher.link_table(dfg, df_db, g_left, db_right)
lt
lt.to_csv("mike_link.csv")

In [ ]:
lt2 = lt.loc[[3]]
lt2

In [ ]:
lt.drop(lt.index.to_list()[1:] ,axis = 0 )

In [ ]:
lt2 = fuzzymatcher.link_table(dfg.loc[[2]], df_db, g_left, db_right).head(5)
lt2

In [69]:
cnx = sqlite3.connect('garmin.db')

df = pd.read_sql_query("SELECT * FROM users WHERE good_match=0", cnx)
cnx = sqlite3.connect('garmin.db')

df_all_courses = pd.read_sql_query("SELECT * FROM courses", cnx)
df_bad_match = pd.read_sql_query("SELECT * FROM users WHERE good_match=0", cnx)
bad_left = ["course", "city", "state", "country"]
db_right = ["g_course", "g_city", "g_state", "g_country"]
bad_match_table = fuzzymatcher.link_table(df_bad_match, df_all_courses, bad_left, db_right)
bad_match_table.to_csv("bad_match_table.csv")
bad_match_table

,__id_left,__id_right,match_score,match_rank,course,g_course,city,g_city,state,g_state,country,g_country
0,0_left,276_right,0.002038,1,University of Alabama Golf Course,Country Club of Tuscaloosa,Tuscaloosa,Tuscaloosa,Alabama,Alabama,US,US
1,0_left,280_right,-0.196563,2,University of Alabama Golf Course,Tall Pines Golf Club,Tuscaloosa,Tuscaloosa,Alabama,Alabama,US,US
2,0_left,277_right,-0.252487,3,University of Alabama Golf Course,Indian Hills Country Club,Tuscaloosa,Tuscaloosa,Alabama,Alabama,US,US
3,0_left,24_right,-0.329903,4,University of Alabama Golf Course,Auburn University Club,Tuscaloosa,Auburn,Alabama,Alabama,US,US
4,0_left,278_right,-0.330866,5,University of Alabama Golf Course,NorthRiver Yacht Club,Tuscaloosa,Tuscaloosa,Alabama,Alabama,US,US
...,...,...,...,...,...,...,...,...,...,...,...,...
3001,51_left,15498_right,-0.056282,4,Grand Dunes Resort Course,Possum Trot Golf Course,Mrytle Beach,North Myrtle Beach,South Carolina,South Carolina,US,US
3002,51_left,15465_right,-0.076009,5,Grand Dunes Resort Course,Man O' War Golf Course,Mrytle Beach,Myrtle Beach,South Carolina,South Carolina,US,US
3003,51_left,15469_right,-0.088865,6,Grand Dunes Resort Course,Myrtle Beach National Golf Club - West Course,Mrytle Beach,Myrtle Beach,South Carolina,South Carolina,US,US
3004,51_left,15468_right,-0.156687,7,Grand Dunes Resort Course,Myrtle Beach National Golf Club - South Creek ...,Mrytle Beach,Myrtle Beach,South Carolina,South Carolina,US,US
3005,51_left,15265_right,-0.325173,8,Grand Dunes Resort Course,The Plantation Course at Edisto,Mrytle Beach,Edisto Beach,South Carolina,South Carolina,US,US

In [75]:
df_george_raw = pd.read_csv ('george_courses.csv')

df_mike_raw = pd.read_csv ('mike_courses.csv')
df_george_raw

,Course,City,State,Country,Year
0,Wynlakes,Montgomery,Alabama,US,1990
1,Lagoon Park,Montgomery,Alabama,US,1996
2,University of Alabama Golf Course,Tuscaloosa,Alabama,US,1997
3,Hidden Meadows,Nortport,Alabama,US,1998
4,Bent Brook,Bessemer,Alabama,US,1999
...,...,...,...,...,...
154,Gateway,Montgomery,Alabama,US,2022
155,Mohansic Golf Course,Yorktown Heights,New York,US,2022
156,Dead Horse Lake Golf Course,Knoxville,Tennessee,US,2022
157,Farm Golf Club,Rocky Face,Georgia,US,2022
158,Chattanooga Golf and Country Club,Chattanooga,Tennessee,US,2022

In [79]:
l = df_george_raw.append(df_mike_raw)
l

C:\Users\George\AppData\Local\Temp\ipykernel_11588\3445217143.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  l = df_george_raw.append(df_mike_raw)

,Course,City,State,Country,Year
0,Wynlakes,Montgomery,Alabama,US,1990.0
1,Lagoon Park,Montgomery,Alabama,US,1996.0
2,University of Alabama Golf Course,Tuscaloosa,Alabama,US,1997.0
3,Hidden Meadows,Nortport,Alabama,US,1998.0
4,Bent Brook,Bessemer,Alabama,US,1999.0
...,...,...,...,...,...
136,The Legends Golf Resort: Heathlands,Mrytle Beach,South Carolina,US,NaN
137,Grand Dunes Resort Course,Mrytle Beach,South Carolina,US,NaN
138,Beachwood Golf Course,Mrytle Beach,South Carolina,US,NaN
139,Apple Greens Golf Course,Highland,New York,US,NaN
140,Mohonk Golf Course,New Paltz,New York,US,NaN

In [101]:
cnx = sqlite3.connect('garmin.db')

df_all_courses = pd.read_sql_query("SELECT * FROM courses", cnx)

df_george_raw = pd.read_csv ('george_courses.csv')

df_mike_raw = pd.read_csv ('mike_courses.csv')
df_all = pd.read_sql_query("SELECT * FROM users", cnx)
df_all = df_all.drop(df_all.columns[[7,10,11,12,13,14,15,16]], axis=1)
df_all

g_left = ["course", "city", "state", "country"]
db_right = ["g_course", "g_city", "g_state", "g_country"]

fuzzy_table = fuzzymatcher.link_table(df_all, df_all_courses, g_left, db_right)
fuzzy_table = fuzzy_table[fuzzy_table['match_rank'] < 6]
fuzzy_table.to_csv("fuzzy_table.csv")

In [81]:
cnx = sqlite3.connect('garmin.db')

df_all_courses = pd.read_sql_query("SELECT * FROM courses", cnx)

df_george_raw = pd.read_csv ('george_courses.csv')

df_mike_raw = pd.read_csv ('mike_courses.csv')
df_all_users = pd.read_sql_query("SELECT * FROM users", cnx)


g_left = ["course", "city", "state", "country"]
db_right = ["g_course", "g_city", "g_state", "g_country"]

l.to_csv("joined.csv")
fuzzy_table = fuzzymatcher.link_table(df_george_raw, df_all_courses, g_left, db_right)
fuzzy_table = fuzzy_table[fuzzy_table['match_rank'] < 6]
fuzzy_table.to_csv("fuzzy_table.csv")

C:\Users\George\AppData\Local\Temp\ipykernel_11588\1819066020.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  l=df_george_raw.append(df_mike_raw)

In [1]:
import pandas as pd
import sqlite3
import fuzzymatcher

from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float, Boolean
engine = create_engine('sqlite:///garmin.db', echo = True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

class users(Base):
    __tablename__ = 'users'
    index_label = Column(Integer, primary_key=True)
    user = Column(String(250))
    course = Column(String(250))
    city = Column(String(100))
    state = Column(String(40))
    country = Column(String(40))
    year = Column(Integer)
    best_match_score = Column(Float)
    good_match = Column(Boolean)
    manual_match = Column(Boolean)
    garmin_ID = Column(String(100))
    manual_course = Column(String(250))
    manual_city = Column(String(100))
    manual_state = Column(String(40))
    manual_country = Column(String(40))
    manual_latitude = Column(Float)
    manual_longitude = Column(Float)

# Base.metadata.create_all(engine)

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)
session = Session()
# result = session.query(courses).all()



cnx = sqlite3.connect('garmin.db')

df_all_courses = pd.read_sql_query("SELECT * FROM courses", cnx)

df_top100_raw = pd.read_csv ('top100.csv')

g_left = ["Course", "City", "State", "Country"]
db_right = ["g_course", "g_city", "g_state", "g_country"]
fuzzy_match_top100 = fuzzymatcher.fuzzy_left_join(df_top100_raw, df_all_courses, g_left, db_right)

In [2]:
fuzzy_match_top100

,best_match_score,__id_left,__id_right,Course,City,State,Country,id,g_course,g_address,g_city,g_state,g_country,g_latitude,g_longitude
0,1.262341,0_left,1625_right,Pebble Beach Golf Links,Pebble Beach,California,US,1626,Pebble Beach Golf Links - Golf Links,1700 17 Mile Dr,Pebble Beach,California,US,36.569665,-121.949741
2,0.612436,1_left,14143_right,Pacific Dunes,Bandon,Oregon,US,14144,Bandon Dunes Golf Resort - Pacific Dunes,57744 Round Lake Drive,Bandon,Oregon,US,43.196900,-124.391700
3,0.437262,2_left,18609_right,Whistling Straits Golf Club (Straits),Kohler,Wisconsin,US,18610,Whistling Straits - The Straits,N 8501 Lakeshore Road,Sheboygan,Wisconsin,US,43.838932,-87.740826
152,1.820357,3_left,15394_right,The Ocean Course at Kiawah Island Resort,Kiawah Island,South Carolina,US,15395,The Ocean Course at Kiawah Island Resort,1 Sanctuary Beach Dr,Kiawah Island,South Carolina,US,32.601291,-80.092228
153,1.208337,4_left,10645_right,Shadow Creek,North Las Vegas,Nevada,US,10646,Shadow Creek Golf Course,3 Shadow Creek Drive,North Las Vegas,Nevada,US,36.258012,-115.106491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3938,-0.026787,135_left,3540_right,Arnold Palmer's Bay Hill Club (Champion),Orlando,Florida,US,3541,The Bay Hill Club & Lodge - Championship,9000 Bay Hill Blvd,Orlando,Florida,US,28.465422,-81.510444
4169,0.698934,136_left,9930_right,Buffalo Ridge Golf Club,Hollister,Missouri,US,9931,Buffalo Ridge Springs Golf Course,1001 Branson Creek Blvd,Hollister,Missouri,US,36.575895,-93.194487
4317,0.316926,137_left,4708_right,Wailea Golf Club,Maui,Hawaii,US,4709,Wailea Golf Club - Blue,100 Wailea Ike Drive,Wailea,Hawaii,US,20.686583,-156.437896
4320,0.560183,138_left,10628_right,Wynn Las Vegas,Las Vegas,Nevada,US,10629,The Wynn Golf Club,3145 Las Vegas Blvd South,Las Vegas,Nevada,US,36.125500,-115.159900
4321,1.419881,139_left,2470_right,Lake of Isles (North),North Stonington,Connecticut,US,2471,Lake of Isles - North Course,1 CLUBHOUSE DR,North Stonington,Connecticut,US,41.482986,-71.951742

In [ ]:
fuzzy_match_top100.to_csv('top100_fuzzy_match.csv')